.offcanvas-title h3 {
    margin: 10px 0;
    color: black;
}

.offcanvas-title ul {
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.offcanvas-title ul li {
    display: inline;
    padding: 0;
    margin: 0 10%;
}

.offcanvas-title ul li svg {
    fill: var(--user-icon-color);
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.offcanvas-title ul li svg:hover {
    fill: var(--green-color);
    scale: 1.1;
}

.offcanvas-title ul li:nth-of-type(3):hover svg {
    fill: var(--red-color) !important;
}

