.contactProfile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 0;
    transition: all 0.2s ease-in-out;
}

.contactProfile:not(:last-child)::before {
    content: "";
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: 1px;
    background-color: var(--border-color);
}

.contactProfile:hover {
    background-color: var(--blue-color);
    cursor: pointer;
}

.contactProfile:hover h3,
.contactProfile:hover p {
    color: white;
}

.contactProfile__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
}

.contactProfile__info h3 {
    align-self: center;
    font-size: clamp(0.8rem, 1.1vw, 1rem) !important;
    margin: 0 auto;
}

.contactProfile__info p {
    font-size: clamp(0.7rem, 1vw, 0.8rem);
    color: var(--small-color);
    margin: 0 auto;
    word-wrap: break-word;
}

.contactProfile__info svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    fill: var(--small-color);
    text-align: left;
    font-size: clamp(0.8rem, 1vw, 1rem);
    color: var(--small-color);
}

.contactProfile__avatar {
    position: relative;
}

.contactProfile__active {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--green-color);
    border: 2px solid white;
}

.contactProfile__info__time {
    position: relative;
    bottom: 50%;
    right: 5%;
    transform: translateY(50%);
    font-size: 0.8rem;
    color: var(--small-color);
}

.contactProfile__info__time__unread {
    color: var(--red-color);
}

.contactProfile__unread {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-color: var(--red-color);
    color: white;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#lastMassageContainer p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.contact-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0 10px 10px;
    position: relative;
    margin: 5px auto;

    transition: all 0.2s ease-in-out;
}

.contact-info-container:not(:last-child)::before {
    content: "";
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: 1px;
    border-radius: 20px;
    background-color: var(--border-color);
}

.contact-info-container:hover {
    background-color: var(--blue-color);
    cursor: pointer;
}


.contact-info-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*padding: 0;*/
    margin: 0 auto;
    width: 100%;
}


.contact-profile-detail {
    margin: 0 auto;
    padding: 0;
}

.contact-info-container .contact-profile-avatar img {
    transition: all 0.2s ease-in-out;
}

.contact-info-container:hover .contact-profile-avatar img {
    scale: 1.2;
}

.contact-profile-active {
    position: absolute;
    bottom: 10px;
    left: 62px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--green-color);
    border: 2px solid white;
}

.contact-info-container:hover .contact-info-name h3,
.contact-info-container:hover .contact-info-message p,
.contact-info-container:hover .contact-info-message svg,
.contact-info-container:hover .contact-info-time {
    color: white;
}

.contact-info-container:hover .contact-info-message svg {
    fill: white;
}

.contact-info-container:hover .contact-info-message svg.received {
    fill: var(--read-message-hover-color);
}

.contact-info-container .contact-profile-avatar img {
    transition: all 0.2s ease-in-out;
}

.contact-info-container:hover .contact-profile-avatar img {
    border: 2px solid var(--orange-color);
}

.contact-info-name h3 {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-weight: 400;
    margin: 0 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.contact-info-message p {
    font-size: clamp(0.7rem, 1vw, 0.8rem);
    color: var(--small-color);
    margin: 0 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    align-self: start;
    display: inline-block;
    max-width: clamp(100px, 70%, 200px);
}

.contact-info-message span {
    font-size: clamp(0.7rem, 1vw, 0.8rem);
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    align-self: start;
    display: inline-block;
}

.contact-info-time {
    position: relative;
    bottom: 50%;
    right: 5%;
    transform: translateY(50%);
    font-size: 0.8rem;
    color: var(--small-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.2s ease-in-out;
}


.active_contact_container {
    background-color: var(--blue-color);
}

.active_contact_container--green {
    background-color: var(--green-color);
}

.active_contact_container .contact-info-name h3,
.active_contact_container .contact-info-message p,
.active_contact_container .contact-info-time {
    color: white;
}

.active_contact_container .contact-info-message svg {
    fill: white;
}

.active_contact_container .contact-info-message svg.received {
    fill: var(--read-message-hover-color);
}

.active_contact_container .contact-profile-avatar img {
    border: 2px solid var(--orange-color);
    scale: 1.2;
}

.active_contact_container.active .contact-profile-avatar img {
    border: 2px solid var(--green-color);
}
